.hamburgerMenu {
    width: inherit;
    padding: 1.875rem 1.25rem 1.25rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.625rem;
}

.progressItems {
    width: inherit;
    display: flex;
    justify-content: space-evenly;
    margin: 0.938rem;
    flex-wrap: wrap;
    gap: 3.125rem;
}

.progressItem {
    display: flex;
    align-items: center;
    gap: 0.625rem;
}

.progressInfo {
    font-size: 1rem;
    font-family: monospace
}

.progressInfo progress {
    height: 0.625rem;
    border-radius: 0.625rem;
}

progress::-webkit-progress-bar {
    background-color: #555;
    border-radius: 0.313rem;
}

progress::-webkit-progress-value {
    background-color: #4caf50;
    border-radius: 0.313rem;
}

.progressInfo progress::-moz-progress-bar {
    background-color: #4caf50; /* Fallback for Firefox */
    border-radius: 0.313rem;
}